<main class="content">
    <h1 class="main-header"> Login </h1>

    <div class="username-password">
        <div class="username">
        <input class="username-input" placeholder="Username" required>
        </div>

        <div class="password">
        <input class="password-input" placeholder="Password" required>
        </div>

        <div class="birth-date">
        <input class="birth-date-input" placeholder="Birthdate" required>
        </div>
        
        <div class="login-buttons">
        <button type="button" class="submit-button">Submit</button>
        <button type="button" class="cancel-button">Cancel</button>
        </div>
    </div>
</main>