<main class="content">
    <h1 class="main-header"> My Profile </h1>

    <section class="user-profile">
        <div class="user-bio">
            <h3>My Bio</h3>
            <p>Bio goes here</p>
        </div>

        <div class="user-favorites">
            <h3>My Favorite Recipes</h3>
            <p>Favorites goes here</p>
        </div>

        <div class="user-recipes">
            <h3>My Recipes</h3>
            <p>User reipes goes here</p>
        </div>
    </section>
</main>