<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Can and Pantry, A virtual cookbook</title>
   <link href="https://fonts.googleapis.com/css?family=Belleza&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
   <script src="/checkboxTemplate.js" charset="utf-8" defer></script>
   <script src="/recipeTemplate.js" charset="utf-8" defer></script>
   <script src="/index.js" charset="utf-8" defer></script>
</head>
<body>
   <header>
      <h1 class="site-title"><a href="index.html">Can and Pantry,<p>A Virtual Cookbook</p></a></h1>
      <div class="site-links">
         <a id= "create-recipes-link" href="index.html">Home</a>
         <a id= "recipes-link" href="recipes.html">Recipes</a>
         <a id= "login-link" href="login.html">Login</a>
      </div>
      <div class="search-bar">
          <input placeholder="Search:">
      </div>
    </header>
<main class="content">
   <h1 class="main-header"> Food Groups </h1>
   <section id="food-checkbox">
        <div class="filter-input-container">
           <form id="category" name="form" method="post" action="CheckBox.jsp">
              <div>
                 <legend>category</legend>
                 <div>
                    <input type="checkbox" value="ingredient">
                    <label for="filter-condition-good">ingredient</label>
                 </div>
              </div>
           </form>
        </div>
    </section>

    <button type="button" id="generate-recipes">Get Recipes!</button>

    <section id="recipe-section">

    </section>

</main>


</body>



</html>
