
<main class="content">
   <h1 class="main-header"> Food Groups </h1>
   <section id="food-checkbox">
        <div class="filter-input-container">
           <form id="category" name="form" method="post" action="CheckBox.jsp">
              <div>
                 <legend>category</legend>
                 <div>
                    <input type="checkbox" value="ingredient">
                    <label for="filter-condition-good">ingredient</label>
                 </div>
              </div>
           </form>
        </div>
    </section>

    <button type="button" id="generate-recipes">Get Recipes!</button>

    <section id="recipe-section">

       {{#each recipes}}
         {{> recipesCard}}
       {{/each}}

    </section>

</main>


</body>



</html>
